 body{
     
            margin: 0;
            padding: 0;
        }
        
        #map {
            /* width: 72.81%;
            height: 356.93px; */
            width: 100%;
            height: 740px;
        }

        #app{
          
            
        }

        
